
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowego autora</title>
    <style>
        table, th, tr, td {border: 2px solid black;}
    </style>
</head>


<body>
<div>
    <h2> Dodaj nowego autora: </h2>
    <form method="POST" action="/addauthor/">
        {{ authorform.hidden_tag() }}
        <table>
            {% for field in authorform if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Zapisz">
    </form>
</div>
</body>
</html>

